body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form input {
    padding: 10px;
    margin: 5px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: #2c3e50;
    color: white;
    border: none;
}
